<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acceuil</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  
<link href="css/styles.css" rel="stylesheet" />

</head>
<body>
<!-- header -->
	<div class="container-fluid bg-yellow">
	
		<div class="container">
	
			<div class="d-block px-3 py-2 text-center text-bold d-flex flex-row-reverse">
				<a href="Connection.html" class="px-3 text-decoration-none text-dark">Se connecter</a>
				<img src="images/svg/user.svg" class="mt-1" />
			</div>
		</div>
		
	</div>

	<!-- Navigation bar -->
	<div class="container">
	
		<nav class="navbar navbar-expand-lg navbar-light">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="#">NOS PRODUITS</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">NOS PRODUITS</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">NOS PRODUITS</a>
				</li>
				<!--<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Dropdown
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				  </ul>
				</li>-->
			  </ul>
			  <form class="d-flex">
				<div class="input-group">
				  <div class="form-outline">
					<input type="search" id="form1" class="form-control" />
				  </div>
				  <button type="button" class="btn btn-primary">
					<i class="fas fa-search"></i>
				  </button>
				</div>
			  </form>
			</div>
		  </div>
		</nav>
		
	</div>
	
	<!-- jumbotron -->
	<div class="container-fluid jumbotron d-lg-block d-none">
		
		<div class="row py-3 d-flex align-items-center justify-content-center">
		
			<div class="col-2 text-center"><!-- left arrow -->
				<img src="images/svg/left-arrow.svg" />
			</div>
		
			<div class="col-8">
				
				<div class="row d-flex align-items-center justify-content-center">
				
					<div class="col-lg-2">
						<img src="images/svg/logo-lv.svg" />
					</div>
					
					<div class="col-lg-7 biggest-txt text-yellow">
						PROMOTION ETE<br/>
						<span class="big-txt">SAC à MAIN Louis Vuitton</span><br/>
						JUQU'A 40% DE REDUCTION
					</div>
					
					<div class="col-lg-3">
						<img src="Sac-LV.png" width="324px" height="304px" />
					</div>
				</div>
			</div>
		
			<div class="col-2 text-center"><!-- right arrow -->
				<img src="images/svg/right-arrow.svg" />
			</div>
		
		</div>
		
	</div>
		
	<div class="container">
		<div class="row">
			
			<div class="col-lg-8 mt-3">
				<span><a href="Accueil.html">Accueil</a> / Chapeau</span>
				
				<div class="row gx-2 mt-4">
					
					<div class="col-lg-4 mb-2">
						<div class="border p-3">
							<div>
								<img src="images/chapeau/chapeau1.png" class="adapt" />
							</div>
							<div class="row mt-2">
								<div class="col-8">
									<span class="prix text-raspberry bigger-txt">16,49€</span><br/>
									<span class="description fw-bold">Coiffure Tulle</span>
								</div>
								<div class="col-4 text-end">
									<button class="btn btn-outline-warning"><img src="images/svg/trolley.svg" /></button>
								</div>
							</div>
							
							<div class="mt-1 border-top pt-1">
								Organza chapeau de seau ...
							</div>
							
							<div class="mt-3 text-center border bg-yellow">
								<a href="#" class="text-decoration-none">+ details</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 mb-2">
						<div class="border p-3">
							<div>
								<img src="images/chapeau/chapeau2.png" class="adapt" />
							</div>
							<div class="row mt-2">
								<div class="col-8">
									<span class="prix text-raspberry bigger-txt">30,99€</span><br/>
									<span class="description fw-bold">Fantaisie simple</span>
								</div>
								<div class="col-4 text-end">
									<button class="btn btn-outline-warning"><img src="images/svg/trolley.svg" /></button>
								</div>
							</div>
							
							<div class="mt-1 border-top pt-1">
								Casual vanances Derby ...
							</div>
							
							<div class="mt-3 text-center border bg-yellow">
								<a href="#" class="text-decoration-none">+ details</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 mb-2">
						<div class="border p-3">
							<div>
								<img src="images/chapeau/chapeau3.png" class="adapt" />
							</div>
							<div class="row mt-2">
								<div class="col-8">
									<span class="prix text-raspberry bigger-txt">24,99€</span><br/>
									<span class="description fw-bold">Chapeau de paille</span>
								</div>
								<div class="col-4 text-end">
									<button class="btn btn-outline-warning"><img src="images/svg/trolley.svg" /></button>
								</div>
							</div>
							
							<div class="mt-1 border-top pt-1">
								Chapeau de seau ...
							</div>
							
							<div class="mt-3 text-center border bg-yellow">
								<a href="#" class="text-decoration-none">+ details</a>
							</div>
							
						</div>
					</div>
						
					<div class="col-lg-4 mb-2">
						<div class="border p-3">
							<div>
								<img src="images/chapeau/chapeau4.png" class="adapt" />
							</div>
							<div class="row mt-2">
								<div class="col-8">
									<span class="prix text-raspberry bigger-txt">90€</span><br/>
									<span class="description fw-bold">Chapeau mélange</span>
								</div>
								<div class="col-4 text-end">
									<button class="btn btn-outline-warning"><img src="images/svg/trolley.svg" /></button>
								</div>
							</div>
							
							<div class="mt-1 border-top pt-1">
								Mélange de poly/coton ...
							</div>
							
							<div class="mt-3 text-center border bg-yellow">
								<a href="#" class="text-decoration-none">+ details</a>
							</div>
							
						</div>
					</div>
					
				</div>
				
				<div class="container my-3 d-flex justify-content-center ">
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					  </ul>
					</nav>
				</div>
					
			</div>
			
			<div class="col-lg-4 bg-debian-red pt-5 pb-3 h-auto">
				<div class="text-white">
					
					<div class="cart-header text-center">
						Panier
						<img src="images/svg/cart.svg" class="ms-2 border-end pe-3"/>
						<span id="nbArticle" class="ms-3">0 article</span>
					</div>
					
					<div class="pt-5 biggest-txt text-center">
						Rechercher par
					</div>
					
					<div class="pt-5 px-3">
						<div class="mb-3 w-100">
						  <label for="matiere" class="form-label">Matiere</label>
						  <input type="email" class="form-control" id="matiere" placeholder="la matière du produit">
						</div>
						<div class="mb-3">
						  <label for="matiere" class="form-label">Prix</label>
						  <input type="email" class="form-control" id="matiere" placeholder="la matière du produit">
						</div>
						<div class="mb-3">
						  <label for="matiere" class="form-label">Vendeur</label>
						  <input type="email" class="form-control" id="matiere" placeholder="la matière du produit">
						</div>
						<div class="mb-3">
						  <label for="matiere" class="form-label">Les mieux notés</label>
						  <input type="email" class="form-control" id="matiere" placeholder="la matière du produit">
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
	
	<!-- footer -->
	<div class="container-fluid bg-dark">
		
		<div class="container text-white py-5">
			
			<div class="row">
				
				<div class="col-lg-2">
					<p class="bigger-txt">A PROPOS</p>
					
					<ul class="list-unstyled">
						<li><a href="#" class="text-decoration-none text-white">Qui sommes-nous ?</a></li>
						<li><a href="#" class="text-decoration-none text-white">Nous contacter</a></li>
						<li><a href="#" class="text-decoration-none text-white">Nous rejoindre</a></li>
					</ul>
				</div>
				
				<div class="col-lg-3">
					<p class="bigger-txt">INFORMATIONS LEGALES</p>
					
					<ul class="list-unstyled">
						<li><a href="#" class="text-decoration-none text-white">Conditions générales de vente</a></li>
						<li><a href="#" class="text-decoration-none text-white">Cookie</a></li>
					</ul>
				</div>
				
				<div class="col-lg-4">
					<p class="bigger-txt">FAQ</p>
					
					<ul class="list-unstyled">
						<li><a href="#" class="text-decoration-none text-white">Aide</a></li>
						<li><a href="#" class="text-decoration-none text-white">Paiement sécurisé</a></li>
					</ul>
				</div>
				
				<div class="col-lg-3 d-grid mb-2">
					<p class="bigger-txt">NEWLETTERS</p>
					<input id="email" name="email" placeholder="Votre email" type="text" class="form-control mb-2">
					<button name="submit" type="submit" class="btn btn-block bg-debian-red text-white">S'abonner</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-5">
					<p class="bigger-txt">APPLICATIONS</p>
					
					<img src="download_on_app_gallery00e5b75.png" class="me-2" />
					<img src="download_on_google_play270265c.png" class="me-2"  />
					<img src="download_on_app_store7341ef41.png" />
				</div>
				
				<div class="col-lg-7">
					<p class="bigger-txt">SUIVEZ-NOUS SUR LES RESEAUX</p>
					
					<img src="images/svg/fb.svg" class="me-4" />
					<img src="images/svg/twitter.svg" class="me-4" />
					<img src="images/svg/pinterest.svg" class="me-4" />
					<img src="images/svg/instagram.svg" />
					
					
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="container-fluid bg-raspberry">
	
		<div class="container">
			<div class="py-3 text-white">
				Copyright Sandy 2023-07
			</div>
		</div>
		
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js" integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO" crossorigin="anonymous"></script>

</body>
</html>